/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.navbar, footer {
    background: linear-gradient(to bottom, #ffdd55 0%, #fdd01a 100%);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {  
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.selector{
    margin: 5vh;
}
    .selector{
        background: linear-gradient(to bottom, #ffd93e 0%, #f7cc29 100%);
        border: 1px solid #c9a50d;
        border-radius: 3px;
        padding: 10px 13px;
        font-size: 18px;
    }



.radio-toolbar {
    margin: 10px;
}

    .radio-toolbar input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    .radio-toolbar label {
        background-color: #ddd;
        padding: 5px 5px;
        font-size: 12px;
        border: 2px solid #444;
        border-radius: 4px;
        width: 80px;
    }

        .radio-toolbar label:hover {
            background-color: #ffeca2;
        }

    .radio-toolbar input[type="radio"]:checked + label {
        background-color: #ffe26f;
    }