@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Choose annotation tool</h1>

    <div class="row justify-content-around">
        <a asp-area="" asp-controller="Home" asp-action="UniversalDataTool"><h5>Universal Data Tool:</h5><img src="~/img/universalDataTool.png" height="200" /></a>

        <a asp-area="" asp-controller="Home" asp-action="LabelStudio"><h5>Label Studio:</h5><img src="~/img/labelStudio2.png" height="200" /></a>
    </div>
</div>

