@{
    ViewData["Title"] = "Label Studio";
}
@model UniversalDataToolViewModel

<script type="application/javascript" src="https://unpkg.com/universal-data-tool@0.13.2/vanilla.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Universal Data Tool</h1>



    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    @*<h6>Namn för projekt:</h6>*@
                    <input id="project-name" type="text" class="form-control m-input" placeholder="Projektets namn" autocomplete="off" />
                    
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 radio-toolbar">
                    @*<h6>Välj format:</h6>
                <input type="radio" id="text" name="source" value="text" checked>
                <label for="text">Text</label><br>
                <input type="radio" id="picture" name="source" value="picture">
                <label for="picture">Bild</label>*@
                    <input type="radio" id="text_classification" name="rdoAnnotation" value="text_classification" checked>
                    <label for="text_classification">Klassificera text</label>

                    <input type="radio" id="text_entity_recognition" name="rdoAnnotation" value="text_entity_recognition">
                    <label for="text_entity_recognition">Tagga text</label>
                    <br />
                </div>
                <div class="col-lg-4 radio-toolbar">
                    @*<h6>Annoteringssätt:</h6>
                <input type="radio" id="classification" name="type" value="classification" checked>
                <label for="classification">Klassificera</label><br>
                <input type="radio" id="label" name="type" value="label">
                <label for="label">Tagga</label>*@
                    <input type="radio" id="image_classification" name="rdoAnnotation" value="image_classification">
                    <label for="image_classification">Klassificera bild</label>

                    <input type="radio" id="image_segmentation" name="rdoAnnotation" value="image_segmentation">
                    <label for="image_segmentation">Tagga bild</label>
                    <br />
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    @*<input type="file" id="fileToLoad" accept="text/plain" onchange="loadFileAsText()" />
        <input type="file" id="imagesToLoad" multiple accept="image/*" onchange="loadFileAsImages()" />*@                    
                    <input type="file" id="myFile" multiple accept="image/*, text/plain" onchange="uploadFiles()">
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h6>Skriv ord att annotera efter:</h6>
                    <div id="inputFormRow">
                        <div class="input-group mb-3">
                            <input id="addedLabel" type="text" name="title[]" class="form-control m-input" placeholder="Skapa kategorier" autocomplete="off">
                        </div>
                    </div>

                    <div id="newRow"></div>
                    <button id="addRow" type="button" class="btn btn-info">Ny rad</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="selector" onclick="loadUdt()">Skapa projekt</button>
                </div>

            </div>

        </div>
        <div class="col-9">
            <div id="udt"></div>
        </div>
    </div>
</div>


<script src="~/js/UniversalDataTool.js"></script>
