@{
    ViewData["Title"] = "Label Studio";
}
@model UniversalDataToolViewModel

<script type="application/javascript" src="https://unpkg.com/universal-data-tool@0.13.2/vanilla.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Universal Data Tool</h1>



    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    @*<h6>Namn för projekt:</h6>*@
                    <input id="project-name" type="text" class="form-control m-input" placeholder="Projektets namn" autocomplete="off" />

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 radio-toolbar">

                    @foreach (var item in Model.UdtInterfaces)
                    {
                        <input type="radio" id="@item.Type" name="rdoAnnotation" value="@item.Type">
                        <label for="@item.Type">@item.Name</label>
                    }
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="file" id="myFile" multiple accept="image/*, text/plain" onchange="uploadFiles()">
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h6>Skriv ord att annotera efter:</h6>
                    <div id="inputFormRow">
                        <div class="input-group mb-3">
                            <input id="addedLabel" type="text" name="title[]" class="form-control m-input" placeholder="Skapa kategorier" autocomplete="off">
                        </div>
                    </div>

                    <div id="newRow"></div>
                    <button id="addRow" type="button" class="btn btn-info">Ny rad</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="selector" onclick="loadUdt()">Skapa projekt</button>
                </div>

            </div>

        </div>
        <div class="col-9">
            <div id="udt"></div>
        </div>
    </div>
</div>


<script src="~/js/UniversalDataTool.js"></script>
